<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="preload" href="./fonts/Gilroy-Medium.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="./fonts/Gilroy-Bold.woff2" as="font" type="font/woff2" crossorigin>

    <link rel="icon" href="./img/favicon/16x16.png" type="image/x-icon" sizes="16x16">
    <link rel="icon" href="./img/favicon/32x32.png" type="image/x-icon" sizes="32x32">
    <link rel="icon" href="./img/favicon/512x512.png" type="image/x-icon" sizes="512x512">

    <title>Clients : Guarantee</title>
</head>
<body>
    <div class="body-wrapper">
        <a id="top"></a>

        <header class="header lock-padding">
            <div class="sub-header" data-reveal="elem">
                <div class="sub-header__wrapper block-wrapper">
                    <div class="sub-header__tel">
                        <a href="tel:0800303029">0 800 30 30 29</a>
                    </div>
                    <div class="sub-header__socials-list">
                        <ul class="socials-list">
                            <li class="socials-list__item">
                                <a href="https://www.instagram.com/fado_ukraine/" target="_blank">
                                    <img src="./img/svg/icon-social-instagram.svg" inline-svg alt="">
                                </a>
                            </li>
                            <li class="socials-list__item">
                                <a href="https://facebook.com/fadocompany/" target="_blank">
                                    <img src="./img/svg/icon-social-facebook.svg" inline-svg alt="">
                                </a>
                            </li>
                            <li class="socials-list__item">
                                <a href="https://youtube.com/channel/UCI_cG2GD_T8dq4ODLxHVMrg/" target="_blank">
                                    <img src="./img/svg/icon-social-youtube.svg" inline-svg alt="">
                                </a>
                            </li>
                            <li class="socials-list__item">
                                <a href="https://www.linkedin.com/company/fadocompany/" target="_blank">
                                    <img src="./img/svg/icon-social-linkedin.svg" inline-svg alt="">
                                </a>
                            </li>
                            <li class="socials-list__item">
                                <a href="https://t.me/TMFADO/" target="_blank">
                                    <img src="./img/svg/icon-social-telegram.svg" inline-svg alt="">
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="sub-header__lang">
                        <div class="lang-select">
                            <div class="lang-select__select-box">
                                <div class="lang-select__options-container">
                                    <div class="lang-select__options-wrapper">

                                        <a class="lang-select__option" href="#">
                                            <div class="lang-select__item">
                                                <span class="lang-select__item-name">UK</span>
                                            </div>
                                        </a>
                                        
                                        <a class="lang-select__option" href="#">
                                            <div class="lang-select__item">
                                                <span class="lang-select__item-name">EN</span>
                                            </div>
                                        </a>
                                        
                                        <a class="lang-select__option" href="#">
                                            <div class="lang-select__item">
                                                <span class="lang-select__item-name">IT</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="lang-select__selected">
                                    <div class="lang-select__item">
                                        <span class="lang-select__item-name">RU</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <nav class="navbar" data-reveal="elem">
                <div class="navbar__wrapper block-wrapper">
                    <div class="navbar__logo">
                        <a href="./index.html">
                            <img src="./img/svg/logo.svg" alt="">
                        </a>
                    </div>
                    <ul class="navbar__navlist">
                        <li class="navbar__navitem" data-flyout-button="catalog">Каталог</li>
                        <li class="navbar__navitem" data-flyout-button="support">Техподдержка</li>
                        <li class="navbar__navitem" data-flyout-button="partners">Партнерам</li>
                        <li class="navbar__navitem" data-flyout-button="clients">Клиентам</li>
                    </ul>
                    <div class="navbar__button">
                        <a href="./partner-installers.html" class="button button--header">
                            <span class="button__name">Инсталляторам</span>
                        </a>
                    </div>
                    <div class="navbar__burger">
                        <svg class="burger" width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="5" y="12" width="31" height="2" fill="#202020"/>
                            <rect x="13" y="19" width="23" height="2" fill="#787878"/>
                            <rect x="5" y="26" width="31" height="2" fill="#787878"/>
                        </svg>
                    </div>
                </div>
            </nav>
            <div class="flyout-box">
                <div class="flyout-box__item flyout" data-flyout-target="catalog">
                    <div class="flyout__wrapper block-wrapper">
                        <ul class="flyout__list">
                            <li class="flyout__list-item">
                                <a href="./catalog.html">Все категории</a>
                            </li>
                            <li class="flyout__list-item">
                                <a href="./category.html">Запорная арматура</a>
                            </li>
                            <li class="flyout__list-item">
                                <a href="./category.html">Трубные системы</a>
                            </li>
                            <li class="flyout__list-item">
                                <a href="./category.html">Шланги</a>
                            </li>
                            <li class="flyout__list-item">
                                <a href="./category.html">Система “теплый пол”</a>
                            </li>
                            <li class="flyout__list-item">
                                <a href="./category.html">Инструменты и уплотнительные материалы</a>
                            </li>
                        </ul>
                        <div class="flyout__button">
                            <a href="./files/_Fado_.pdf" class="button" download>
                                <span class="button__name">Скачать каталог</span>
                                <span class="button__icon">
                                    <img src="./img/svg/icon-button-download.svg" inline-svg alt="">
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="flyout-box__item flyout" data-flyout-target="support">
                    <div class="flyout__wrapper block-wrapper">
                        <ul class="flyout__list">
                            <li class="flyout__list-item">
                                <a href="./tech-catalog-prices.html">Каталоги, прайсы</a>
                            </li>
                            <li class="flyout__list-item">
                                <a href="./tech-product-passports.html">Паспорта продукции</a>
                            </li>
                            <li class="flyout__list-item">
                                <a href="./tech-literature.html">Техническая литература</a>
                            </li>
                            <li class="flyout__list-item">
                                <a href="./tech-solutions.html">Готовые решения</a>
                            </li>
                            <li class="flyout__list-item">
                                <a href="./tech-figures.html">Чертежи, схемы</a>
                            </li>
                            <li class="flyout__list-item">
                                <a href="./tech-certificates.html">Сертификаты</a>
                            </li>
                            <li class="flyout__list-item">
                                <a href="./tech-video-instructions.html">Видеоинструкции</a>
                            </li>
                            <li class="flyout__list-item">
                                <a href="./tech-training.html">Обучение</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="flyout-box__item flyout" data-flyout-target="partners">
                    <div class="flyout__wrapper block-wrapper">
                        <ul class="flyout__list">
                            <li class="flyout__list-item">
                                <a href="./partnership.html">Сотрудничество</a>
                            </li>
                            <li class="flyout__list-item">
                                <a href="./partner-dealers.html">Диллерам</a>
                            </li>
                            <li class="flyout__list-item">
                                <a href="./partner-installers.html">Инсталляторам</a>
                            </li>
                            <li class="flyout__list-item">
                                <a href="./partner-designers.html">Проектантам</a>
                            </li>
                            <li class="flyout__list-item">
                                <a href="./marketing.html">Маркетинговая поддержка</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="flyout-box__item flyout" data-flyout-target="clients">
                    <div class="flyout__wrapper block-wrapper">
                        <ul class="flyout__list">
                            <li class="flyout__list-item">
                                <a href="./map.html">Где купить</a>
                            </li>
                            <li class="flyout__list-item">
                                <a href="./clients-guarantee.html">Гарантия</a>
                            </li>
                            <li class="flyout__list-item">
                                <a href="./clients-faq.html">FAQ</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="menu">
                <div class="menu__wrapper block-wrapper">
                    <div class="menu__search">
                        <form action="#" class="b-search">
                            <input class="b-search__input" type="search" placeholder="Поиск по сайту...">
                            <button class="b-search__button" type="submit">
                                <img src="./img/svg/icon-search.svg" inline-svg alt="">
                            </button>
                        </form>
                    </div>
                    <div class="menu__list-container">
                        <div class="menu__block">
                            <h3 class="menu__title">Каталог</h3>
                            <ul class="menu__list">
                                <li class="menu__list-item">
                                    <a href="./catalog.html">Все категории</a>
                                </li>
                                <li class="menu__list-item">
                                    <a href="./category.html">Запорная арматура</a>
                                </li>
                                <li class="menu__list-item">
                                    <a href="./category.html">Трубные системы</a>
                                </li>
                                <li class="menu__list-item">
                                    <a href="./category.html">Шланги</a>
                                </li>
                                <li class="menu__list-item">
                                    <a href="./category.html">Система “теплый пол”</a>
                                </li>
                                <li class="menu__list-item">
                                    <a href="./category.html">Инструменты и уплотнительные материалы</a>
                                </li>
                            </ul>
                        </div>
                        <div class="menu__block">
                            <h3 class="menu__title">Техподдержка</h3>
                            <ul class="menu__list">
                                <li class="menu__list-item">
                                    <a href="./tech-catalog-prices.html">Каталоги, прайсы</a>
                                </li>
                                <li class="menu__list-item">
                                    <a href="./tech-product-passports.html">Паспорта продукции</a>
                                </li>
                                <li class="menu__list-item">
                                    <a href="./tech-literature.html">Техническая литература</a>
                                </li>
                                <li class="menu__list-item">
                                    <a href="./tech-solutions.html">Готовые решения</a>
                                </li>
                                <li class="menu__list-item">
                                    <a href="./tech-figures.html">Чертежи, схемы</a>
                                </li>
                                <li class="menu__list-item">
                                    <a href="./tech-certificates.html">Сертификаты</a>
                                </li>
                                <li class="menu__list-item">
                                    <a href="./tech-video-instructions.html">Видеоинструкции</a>
                                </li>
                                <li class="menu__list-item">
                                    <a href="./tech-training.html">Обучение</a>
                                </li>
                            </ul>
                        </div>
                        <div class="menu__block">
                            <h3 class="menu__title">Клиентам</h3>
                            <ul class="menu__list">
                                <li class="menu__list-item">
                                    <a href="./map.html">Где купить</a>
                                </li>
                                <li class="menu__list-item">
                                    <a href="./clients-guarantee.html">Гарантия</a>
                                </li>
                                <li class="menu__list-item">
                                    <a href="./clients-faq.html">FAQ</a>
                                </li>
                            </ul>
                        </div>
                        <div class="menu__block">
                            <h3 class="menu__title">Партнерам</h3>
                            <ul class="menu__list">
                                <li class="menu__list-item">
                                    <a href="./partnership.html">Сотрудничество</a>
                                </li>
                                <li class="menu__list-item">
                                    <a href="./partner-dealers.html">Диллерам</a>
                                </li>
                                <li class="menu__list-item">
                                    <a href="./partner-installers.html">Инсталляторам</a>
                                </li>
                                <li class="menu__list-item">
                                    <a href="./partner-designers.html">Проектантам</a>
                                </li>
                                <li class="menu__list-item">
                                    <a href="./marketing.html">Маркетинговая поддержка</a>
                                </li>
                            </ul>
                        </div>
                        <div class="menu__block">
                            <h3 class="menu__title">О компании</h3>
                            <ul class="menu__list">
                                <li class="menu__list-item">
                                    <a href="./about.html">Бренд FADO</a>
                                </li>
                                <li class="menu__list-item">
                                    <a href="./about-blog.html">Новости</a>
                                </li>
                                <li class="menu__list-item">
                                    <a href="./about-portfolio.html">Проекты</a>
                                </li>
                                <li class="menu__list-item">
                                    <a href="./about-career.html">Карьера</a>
                                </li>
                                <li class="menu__list-item">
                                    <a href="./about-contact.html">Контакты</a>
                                </li>
                            </ul>
                        </div>
                        <div class="menu__block">
                            <h3 class="menu__title">Контакты</h3>
                            <div class="menu__contact">
                                <a href="tel:0800303029">0 800 30 30 29</a>
                                <div class="menu__contact-info">Мы на связи 24/7</div>
                            </div>
                            <div class="menu__contact">
                                <a href="mailto:welcome@fado.ua">welcome@fado.ua</a>
                            </div>
                            <div class="menu__socials-list">
                                <ul class="socials-list">
                                    <li class="socials-list__item">
                                        <a href="https://www.instagram.com/fado_ukraine/" target="_blank">
                                            <img src="./img/svg/icon-social-instagram.svg" inline-svg alt="">
                                        </a>
                                    </li>
                                    <li class="socials-list__item">
                                        <a href="https://facebook.com/fadocompany/" target="_blank">
                                            <img src="./img/svg/icon-social-facebook.svg" inline-svg alt="">
                                        </a>
                                    </li>
                                    <li class="socials-list__item">
                                        <a href="https://youtube.com/channel/UCI_cG2GD_T8dq4ODLxHVMrg/" target="_blank">
                                            <img src="./img/svg/icon-social-youtube.svg" inline-svg alt="">
                                        </a>
                                    </li>
                                    <li class="socials-list__item">
                                        <a href="https://www.linkedin.com/company/fadocompany/" target="_blank">
                                            <img src="./img/svg/icon-social-linkedin.svg" inline-svg alt="">
                                        </a>
                                    </li>
                                    <li class="socials-list__item">
                                        <a href="https://t.me/TMFADO/" target="_blank">
                                            <img src="./img/svg/icon-social-telegram.svg" inline-svg alt="">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                    <div class="menu__dropdown-container">
                        <div class="menu__lang">
                            <div class="lang-select">
                                <div class="lang-select__select-box">
                                    <div class="lang-select__options-container">
                                        <div class="lang-select__options-wrapper">

                                            <a class="lang-select__option" href="#">
                                                <div class="lang-select__item">
                                                    <span class="lang-select__item-name">UK</span>
                                                </div>
                                            </a>
                                            
                                            <a class="lang-select__option" href="#">
                                                <div class="lang-select__item">
                                                    <span class="lang-select__item-name">EN</span>
                                                </div>
                                            </a>
                                            
                                            <a class="lang-select__option" href="#">
                                                <div class="lang-select__item">
                                                    <span class="lang-select__item-name">IT</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="lang-select__selected">
                                        <div class="lang-select__item">
                                            <span class="lang-select__item-name">RU</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="menu__dropdown">
                            <div class="dropdown dropdown--menu">
                                <div class="dropdown__header">
                                    <h3 class="dropdown__title">Каталог</h3>
                                    <div class="dropdown__icon">
                                        <img src="./img/svg/icon-mob-sorting.svg" alt="">                                      
                                    </div>
                                </div>
                                <div class="dropdown__content">
                                    <div class="dropdown__wrapper">
                                        <ul class="dropdown__list">
                                            <li class="dropdown__list-item">
                                                <a href="./catalog.html">Все категории</a>
                                            </li>
                                            <li class="dropdown__list-item">
                                                <a href="./category.html">Запорная арматура</a>
                                            </li>
                                            <li class="dropdown__list-item">
                                                <a href="./category.html">Трубные системы</a>
                                            </li>
                                            <li class="dropdown__list-item">
                                                <a href="./category.html">Шланги</a>
                                            </li>
                                            <li class="dropdown__list-item">
                                                <a href="./category.html">Система “теплый пол”</a>
                                            </li>
                                            <li class="dropdown__list-item">
                                                <a href="./category.html">Инструменты и уплотнительные материалы</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="menu__dropdown">
                            <div class="dropdown dropdown--menu">
                                <div class="dropdown__header">
                                    <h3 class="dropdown__title">Техподдержка</h3>
                                    <div class="dropdown__icon">
                                        <img src="./img/svg/icon-mob-sorting.svg" alt="">                                      
                                    </div>
                                </div>
                                <div class="dropdown__content">
                                    <div class="dropdown__wrapper">
                                        <ul class="dropdown__list">
                                            <li class="dropdown__list-item">
                                                <a href="./tech-catalog-prices.html">Каталоги, прайсы</a>
                                            </li>
                                            <li class="dropdown__list-item">
                                                <a href="./tech-product-passports.html">Паспорта продукции</a>
                                            </li>
                                            <li class="dropdown__list-item">
                                                <a href="./tech-literature.html">Техническая литература</a>
                                            </li>
                                            <li class="dropdown__list-item">
                                                <a href="./tech-solutions.html">Готовые решения</a>
                                            </li>
                                            <li class="dropdown__list-item">
                                                <a href="./tech-figures.html">Чертежи, схемы</a>
                                            </li>
                                            <li class="dropdown__list-item">
                                                <a href="./tech-certificates.html">Сертификаты</a>
                                            </li>
                                            <li class="dropdown__list-item">
                                                <a href="./tech-video-instructions.html">Видеоинструкции</a>
                                            </li>
                                            <li class="dropdown__list-item">
                                                <a href="./tech-training.html">Обучение</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="menu__dropdown">
                            <div class="dropdown dropdown--menu">
                                <div class="dropdown__header">
                                    <h3 class="dropdown__title">Клиентам</h3>
                                    <div class="dropdown__icon">
                                        <img src="./img/svg/icon-mob-sorting.svg" alt="">                                      
                                    </div>
                                </div>
                                <div class="dropdown__content">
                                    <div class="dropdown__wrapper">
                                        <ul class="dropdown__list">
                                            <li class="dropdown__list-item">
                                                <a href="./map.html">Где купить</a>
                                            </li>
                                            <li class="dropdown__list-item">
                                                <a href="./clients-guarantee.html">Гарантия</a>
                                            </li>
                                            <li class="dropdown__list-item">
                                                <a href="./clients-faq.html">FAQ</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="menu__dropdown">
                            <div class="dropdown dropdown--menu">
                                <div class="dropdown__header">
                                    <h3 class="dropdown__title">Партнерам</h3>
                                    <div class="dropdown__icon">
                                        <img src="./img/svg/icon-mob-sorting.svg" alt="">                                      
                                    </div>
                                </div>
                                <div class="dropdown__content">
                                    <div class="dropdown__wrapper">
                                        <ul class="dropdown__list">
                                            <li class="dropdown__list-item">
                                                <a href="./partnership.html">Сотрудничество</a>
                                            </li>
                                            <li class="dropdown__list-item">
                                                <a href="./partner-dealers.html">Диллерам</a>
                                            </li>
                                            <li class="dropdown__list-item">
                                                <a href="./partner-installers.html">Инсталляторам</a>
                                            </li>
                                            <li class="dropdown__list-item">
                                                <a href="./partner-designers.html">Проектантам</a>
                                            </li>
                                            <li class="dropdown__list-item">
                                                <a href="./marketing.html">Маркетинговая поддержка</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="menu__dropdown">
                            <div class="dropdown dropdown--menu">
                                <div class="dropdown__header">
                                    <h3 class="dropdown__title">О компании</h3>
                                    <div class="dropdown__icon">
                                        <img src="./img/svg/icon-mob-sorting.svg" alt="">                                      
                                    </div>
                                </div>
                                <div class="dropdown__content">
                                    <div class="dropdown__wrapper">
                                        <ul class="dropdown__list">
                                            <li class="dropdown__list-item">
                                                <a href="./about.html">Бренд FADO</a>
                                            </li>
                                            <li class="dropdown__list-item">
                                                <a href="./about-blog.html">Новости</a>
                                            </li>
                                            <li class="dropdown__list-item">
                                                <a href="./about-portfolio.html">Проекты</a>
                                            </li>
                                            <li class="dropdown__list-item">
                                                <a href="./about-career.html">Карьера</a>
                                            </li>
                                            <li class="dropdown__list-item">
                                                <a href="./about-contact.html">Контакты</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="menu__dropdown">
                            <div class="dropdown">
                                <div class="dropdown__header">
                                    <h3 class="dropdown__title">Контакты</h3>
                                    <div class="dropdown__icon">
                                        <img src="./img/svg/icon-mob-sorting.svg" alt="">                                      
                                    </div>
                                </div>
                                <div class="dropdown__content">
                                    <div class="dropdown__wrapper">
                                        <div class="dropdown__contact-box">
                                            <div class="dropdown__contact">
                                                <a href="tel:0800303029">0 800 30 30 29</a>
                                                <div class="dropdown__contact-info">Мы на связи 24/7</div>
                                            </div>
                                            <div class="dropdown__contact">
                                                <a href="mailto:welcome@fado.ua">welcome@fado.ua</a>
                                            </div>
                                            <div class="dropdown__socials-list">
                                                <ul class="socials-list">
                                                    <li class="socials-list__item">
                                                        <a href="https://www.instagram.com/fado_ukraine/" target="_blank">
                                                            <img src="./img/svg/icon-social-instagram.svg" inline-svg alt="">
                                                        </a>
                                                    </li>
                                                    <li class="socials-list__item">
                                                        <a href="https://facebook.com/fadocompany/" target="_blank">
                                                            <img src="./img/svg/icon-social-facebook.svg" inline-svg alt="">
                                                        </a>
                                                    </li>
                                                    <li class="socials-list__item">
                                                        <a href="https://youtube.com/channel/UCI_cG2GD_T8dq4ODLxHVMrg/" target="_blank">
                                                            <img src="./img/svg/icon-social-youtube.svg" inline-svg alt="">
                                                        </a>
                                                    </li>
                                                    <li class="socials-list__item">
                                                        <a href="https://www.linkedin.com/company/fadocompany/" target="_blank">
                                                            <img src="./img/svg/icon-social-linkedin.svg" inline-svg alt="">
                                                        </a>
                                                    </li>
                                                    <li class="socials-list__item">
                                                        <a href="https://t.me/TMFADO/" target="_blank">
                                                            <img src="./img/svg/icon-social-telegram.svg" inline-svg alt="">
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="menu__mob-button">
                        <a href="./partner-installers.html" class="button button--header">
                            <span class="button__name">Инсталляторам</span>
                        </a>
                    </div>
                </div>
            </div>
        </header>

        <main class="main main--etc">
            <section class="breadcrumbs-container">
                <div class="breadcrumbs-container__wrapper block-wrapper">
                    <div class="breadcrumbs-container__breadcrumbs" data-reveal="elem">
                        <ul class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
                            <li class="breadcrumb__item" itemscope itemtype="http://schema.org/ListItem">
                                <a class="breadcrumb__link" itemprop="item" href="./index.html">
                                    <span class="breadcrumb__name" itemprop="name"><img src="./img/svg/icon-breadcrumb-home.svg" inline-svg alt=""></span>
                                </a>
                                <meta itemprop="position" content="1"/>
                            </li>
                            <li class="breadcrumb__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                                <span class="breadcrumb__cur breadcrumb__name" itemprop="name">Гарантия</span>
                                <meta itemprop="position" content="2"/>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        
            <section class="info-container">
                <div class="info-container__wrapper block-wrapper">
                    <h1 class="info-container__title h2-title" data-reveal="txt">Гарантия</h1>
                    <div class="info-container__list">
                        <ul class="q-list">
                            <li class="q-list__item active" data-reveal="txt">
                                <a href="#a-1">Как сдать товар на гарантийный ремонт?</a>
                            </li>
                            <li class="q-list__item" data-reveal="txt">
                                <a href="#a-2">Какие товары подлежат гарантийному ремонту?</a>
                            </li>
                            <li class="q-list__item" data-reveal="txt">
                                <a href="#a-3">Все товары можно вернуть?</a>
                            </li>
                            <li class="q-list__item" data-reveal="txt">
                                <a href="#a-4">Какая стоимость отправки товара при возврате?</a>
                            </li>
                        </ul>
                    </div>
                    <div class="info-container__box">
                        <div class="info-container__box-item" data-reveal="elem">
                            <a id="a-1" class="anchor"></a>
                            <div class="a-box">
                                <h2 class="a-box__title">Как сдать товар на гарантийный ремонт?</h2>
                                <div class="a-box__description description">
                                    <p>Вы можете сдать товар на ремонт самостоятельно в сервисном центре, передать в нашем магазине или отправить почтовым оператором.</p>
                                </div>
                                <ul class="a-box__list list">
                                    <li class="list__item">Здесь можно найти полный перечень сервисных центров, в которые вы можете самостоятельно обратиться при необходимости гарантийного обслуживания.</li>
                                    <li class="list__item">Если в вашем населенном пункте нет сервисного центра, вы можете отправить товар для гарантийного ремонта нам. А мы передадим его в авторизованный сервисный центр.</li>
                                    <li class="list__item">Передать товар на ремонт можно в сервисных отделах или пунктах приема возврата в наших магазинах.</li>
                                    <li class="list__item">Если в вашем городе нет наших представительств, отправьте товар «Новой почтой» или Justin вместе с заполненным бланком передачи товара на гарантийное обслуживание.</li>
                                </ul>
                            </div>
                        </div>
                        <div class="info-container__box-item" data-reveal="elem">
                            <a id="a-2" class="anchor"></a>
                            <div class="a-box">
                                <h2 class="a-box__title">Какие товары подлежат гарантийному ремонту?</h2>
                                <div class="a-box__description description">
                                    <p>Обратите внимание. Некоторые товары принимаются на гарантийный ремонт только при наличие комплекта сопутствующих аксессуаров, составных модулей. Подробнее о гарантийном ремонте можно узнать в Законе Украины «О защите прав потребителей».</p>
                                    <p>Обратите внимание. Согласно законодательству Украины, с 2017 года наличии штампа на гарантийном талоне не является обязательным для предоставления сервисных услуг. Здесь можно найти полный перечень сервисных центров, в которые вы можете обратиться в случае необходимости гарантийного обслуживания. Что делать, если сервисный центр не может отремонтировать товар в гарантийный период, читайте здесь.</p>
                                </div>
                                <ul class="a-box__list list">
                                    <li class="list__item">Если товар вышел из строя в течение гарантийного срока из-за производственного брака, мы отремонтируем его или заменим на новый.</li>
                                    <li class="list__item">Прежде чем сдать товар на гарантийный ремонт, ознакомьтесь с условиями гарантийного ремонта. Существуют товары, которые ремонтируются только по месту установки (например, бойлеры, кондиционеры, газовые котлы, системы фильтрации воды и т. п.).</li>
                                    <li class="list__item">При ремонте крупногабаритной техники (стиральные машины, холодильники, посудомоечные машины, кондиционеры и т. п.) можно вызвать мастера сервисного центра на дом.</li>
                                </ul>
                            </div>
                        </div>
                        <div class="info-container__box-item" data-reveal="elem">
                            <a id="a-3" class="anchor"></a>
                            <div class="a-box">
                                <h2 class="a-box__title">Все товары можно вернуть?</h2>
                                <div class="a-box__description description">
                                    <p>Вы можете сдать товар на ремонт самостоятельно в сервисном центре, передать в нашем магазине или отправить почтовым оператором.</p>
                                </div>
                                <ul class="a-box__list list">
                                    <li class="list__item">Здесь можно найти полный перечень сервисных центров, в которые вы можете самостоятельно обратиться при необходимости гарантийного обслуживания.</li>
                                    <li class="list__item">Если в вашем населенном пункте нет сервисного центра, вы можете отправить товар для гарантийного ремонта нам. А мы передадим его в авторизованный сервисный центр.</li>
                                    <li class="list__item">Передать товар на ремонт можно в сервисных отделах или пунктах приема возврата в наших магазинах.</li>
                                    <li class="list__item">Если в вашем городе нет наших представительств, отправьте товар «Новой почтой» или Justin вместе с заполненным бланком передачи товара на гарантийное обслуживание.</li>
                                </ul>
                            </div>
                        </div>
                        <div class="info-container__box-item" data-reveal="elem">
                            <a id="a-4" class="anchor"></a>
                            <div class="a-box">
                                <h2 class="a-box__title">Какая стоимость отправки товара при возврате?</h2>
                                <ul class="a-box__list list">
                                    <li class="list__item">Если товар вышел из строя в течение гарантийного срока из-за производственного брака, мы отремонтируем его или заменим на новый.</li>
                                    <li class="list__item">Прежде чем сдать товар на гарантийный ремонт, ознакомьтесь с условиями гарантийного ремонта. Существуют товары, которые ремонтируются только по месту установки (например, бойлеры, кондиционеры, газовые котлы, системы фильтрации воды и т. п.).</li>
                                    <li class="list__item">При ремонте крупногабаритной техники (стиральные машины, холодильники, посудомоечные машины, кондиционеры и т. п.) можно вызвать мастера сервисного центра на дом.</li>
                                </ul>
                                <div class="a-box__description description">
                                    <p>Обратите внимание. Некоторые товары принимаются на гарантийный ремонт только при наличие комплекта сопутствующих аксессуаров, составных модулей. Подробнее о гарантийном ремонте можно узнать в Законе Украины «О защите прав потребителей».</p>
                                    <p>Обратите внимание. Согласно законодательству Украины, с 2017 года наличии штампа на гарантийном талоне не является обязательным для предоставления сервисных услуг. Здесь можно найти полный перечень сервисных центров, в которые вы можете обратиться в случае необходимости гарантийного обслуживания. Что делать, если сервисный центр не может отремонтировать товар в гарантийный период, читайте здесь.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="subscribe-block">
                <div class="subscribe-block__wrapper block-wrapper" data-reveal="elem">
                    <form class="subscribe-block__form" action="#" novalidate>
                        <div class="subscribe-block__icon">
                            <img src="./img/svg/icon-subscribe-block.svg" inline-svg alt="">
                        </div>
                        <h2 class="subscribe-block__title h4-title h4-title--white">Подписуйся на наши новости и будь вкурсе специальных предложений</h2>
                        <div class="subscribe-block__input subscribe-input">
                            <input class="subscribe-input__input _required" placeholder="Введите ваш Email" type="mail">
                            <button class="subscribe-input__button" type="submit">
                                <img src="./img/svg/icon-button-subscribe.svg" inline-svg alt="">
                            </button>
                            <div class="failure">
                                <span class="failure__text">*Required</span>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </main>

        <footer class="footer">
            <div class="footer__wrapper block-wrapper" data-reveal="elem">
                <div class="footer__content">
                    <div class="footer__block">
                        <div class="footer__logo">
                            <a href="./index.html">
                                <img src="./img/svg/logo.svg" alt="">
                            </a>
                        </div>
                        <div class="footer__description">
                            <p>FADO – итальянская инженерная сантехника.</p>
                        </div>
                        <div class="footer__button">
                            <a href="./files/_Fado_.pdf" class="inline-btn" download>
                                <span class="inline-btn__name">Скачать прайс</span>
                                <span class="inline-btn__icon">
                                    <img src="./img/svg/icon-button-download.svg" inline-svg alt="">
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="footer__block">
                        <h3 class="footer__title">Каталог</h3>
                        <ul class="footer__list">
                            <li class="footer__list-item">
                                <a href="./catalog.html">Все категории</a>
                            </li>
                            <li class="footer__list-item">
                                <a href="./category.html">Запорная арматура</a>
                            </li>
                            <li class="footer__list-item">
                                <a href="./category.html">Трубные системы</a>
                            </li>
                            <li class="footer__list-item">
                                <a href="./category.html">Шланги</a>
                            </li>
                            <li class="footer__list-item">
                                <a href="./category.html">Система “теплый пол”</a>
                            </li>
                            <li class="footer__list-item">
                                <a href="./category.html">Инструменты и уплотнительные материалы</a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer__block">
                        <h3 class="footer__title">О компании</h3>
                        <ul class="footer__list">
                            <li class="footer__list-item">
                                <a href="./about.html">Бренд FADO</a>
                            </li>
                            <li class="footer__list-item">
                                <a href="./about-blog.html">Новости</a>
                            </li>
                            <li class="footer__list-item">
                                <a href="./about-portfolio.html">Проекты</a>
                            </li>
                            <li class="footer__list-item">
                                <a href="./about-career.html">Карьера</a>
                            </li>
                            <li class="footer__list-item">
                                <a href="./about-contact.html">Контакты</a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer__block">
                        <h3 class="footer__title">Контакты</h3>
                        <div class="footer__contact">
                            <a href="tel:0800303029">0 800 30 30 29</a>
                            <div class="footer__contact-info">Мы на связи 24/7</div>
                        </div>
                        <div class="footer__contact">
                            <a href="mailto:welcome@fado.ua">welcome@fado.ua</a>
                        </div>
                        <div class="footer__socials-list">
                            <ul class="socials-list">
                                <li class="socials-list__item">
                                    <a href="https://www.instagram.com/fado_ukraine/" target="_blank">
                                        <img src="./img/svg/icon-social-instagram.svg" inline-svg alt="">
                                    </a>
                                </li>
                                <li class="socials-list__item">
                                    <a href="https://facebook.com/fadocompany/" target="_blank">
                                        <img src="./img/svg/icon-social-facebook.svg" inline-svg alt="">
                                    </a>
                                </li>
                                <li class="socials-list__item">
                                    <a href="https://youtube.com/channel/UCI_cG2GD_T8dq4ODLxHVMrg/" target="_blank">
                                        <img src="./img/svg/icon-social-youtube.svg" inline-svg alt="">
                                    </a>
                                </li>
                                <li class="socials-list__item">
                                    <a href="https://www.linkedin.com/company/fadocompany/" target="_blank">
                                        <img src="./img/svg/icon-social-linkedin.svg" inline-svg alt="">
                                    </a>
                                </li>
                                <li class="socials-list__item">
                                    <a href="https://t.me/TMFADO/" target="_blank">
                                        <img src="./img/svg/icon-social-telegram.svg" inline-svg alt="">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer__block">
                        <div class="footer__scroll-to-top">
                            <a href="#top" class="scroll-to-top">
                                <img class="scroll-to-top__circle" src="./img/svg/scroll-to-top-circle.svg" inline-svg alt="">
                                <img class="scroll-to-top__arrow" src="./img/svg/scroll-to-top-arrow.svg" inline-svg alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="footer__copyright copyright">
                    <div class="copyright__description">© 2021 FADO</div>
                    <div class="copyright__link">
                        <a href="./privacy-policy.html">Политика конфиденциальности</a>
                    </div>
                    <div class="copyright__increate">
                        <span>by:</span>
                        <a href="https://in-create.com/" target="_blank">
                            <img src="./img/svg/increate.svg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    
    <!-- scripts -->
    <link rel="stylesheet" href="./css/style.css">

    <script>
        let messageEmpty = "Обязательное поле",
            messageIncorrect = "Некорректные данные",
            messageIncorrectFile = "Неверный формат файла",
            messageChooseFile = "Добавить CV";
    </script>

    <script defer src="./js/libs/inline_svg.js"></script>
    <script defer src="./js/libs/inputmask.min.js"></script>
    <script defer src="./js/libs/swiper-bundle.min.js"></script>
    <script defer src="./js/libs/gsap.min.js"></script>
    <script defer src="./js/libs/ScrollTrigger.min.js"></script>

    <script defer src="./js/main.js"></script>
</body>
</html>