<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="preload" href="./fonts/Gilroy-Medium.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="./fonts/Gilroy-Bold.woff2" as="font" type="font/woff2" crossorigin>

    <title>Sitemap</title>
</head>
<body>
    <h1>Страницы</h1>
    <ul class="list">
        <li class="list__item">
            <a href="./index.html" target="_blank">Главная</a>
        </li>


        <li class="list__item">
            <a href="./catalog.html" target="_blank">Каталог</a>
            <ul class="list">
                <li class="list__item">
                    <a href="./category.html" target="_blank">Категория (вложенная)</a>
                    <ul class="list">
                        <li class="list__item">
                            <a href="./product.html" target="_blank">Продукт (вложенная)</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>


        <li class="list__item">
            <a href="./tech-catalog-prices.html" target="_blank">Каталоги, прайсы</a>
        </li>
        <li class="list__item">
            <a href="./tech-product-passports.html" target="_blank">Паспорта продукции</a>
        </li>
        <li class="list__item">
            <a href="./tech-literature.html" target="_blank">Техническая литература</a>
        </li>
        <li class="list__item">
            <a href="./tech-solutions.html" target="_blank">Готовые решения</a>
        </li>
        <li class="list__item">
            <a href="./tech-figures.html" target="_blank">Чертежи, схемы</a>
        </li>
        <li class="list__item">
            <a href="./tech-certificates.html" target="_blank">Сертификаты</a>
        </li>
        <li class="list__item">
            <a href="./tech-video-instructions.html" target="_blank">Видеоинструкции</a>
        </li>
        <li class="list__item">
            <a href="./tech-training.html" target="_blank">Обучение</a>
        </li>

        
        <li class="list__item">
            <a href="./partnership.html" target="_blank">Сотрудничество</a>
        </li>
        <li class="list__item">
            <a href="./partner-designers.html" target="_blank">Проектантам</a>
        </li>
        <li class="list__item">
            <a href="./partner-dealers.html" target="_blank">Диллерам</a>
        </li>
        <li class="list__item">
            <a href="./partner-installers.html" target="_blank">Инсталляторам</a>
        </li>


        <li class="list__item">
            <a href="./marketing.html" target="_blank">Маркетинговая поддержка</a>
            <ul class="list">
                <li class="list__item">
                    <a href="./marketing-brandbook.html" target="_blank">Брендбук (вложенная)</a>
                </li>
                <li class="list__item">
                    <a href="./marketing-loyalty-program.html" target="_blank">Программа лояльности (вложенная)</a>
                </li>
                <li class="list__item">
                    <a href="./marketing-shop-design.html" target="_blank">Оформление торговых точек (вложенная)</a>
                </li>
                <li class="list__item">
                    <a href="./marketing-car-ad.html" target="_blank">Реклама на авто (вложенная)</a>
                </li>
                <li class="list__item">
                    <a href="./marketing-trade-software.html" target="_blank">Торговое оборудование (вложенная)</a>
                </li>
                <li class="list__item">
                    <a href="./marketing-polygraphy.html" target="_blank">Полиграфия (вложенная)</a>
                </li>
                <li class="list__item">
                    <a href="./marketing-ad.html" target="_blank">Реклама (вложенная)</a>
                </li>
                <li class="list__item">
                    <a href="./marketing-shows.html" target="_blank">Выставки (вложенная)</a>
                </li>
            </ul>
        </li>


        <li class="list__item">
            <a href="./map.html" target="_blank">Где купить</a>
        </li>
        <li class="list__item">
            <a href="./clients-guarantee.html" target="_blank">Гарантия</a>
        </li>
        <li class="list__item">
            <a href="./clients-faq.html" target="_blank">FAQ</a>
        </li>

        
        <li class="list__item">
            <a href="./about.html" target="_blank">Бренд FADO</a>
        </li>
        <li class="list__item">
            <a href="./about-blog.html" target="_blank">Новости</a>
            <ul class="list">
                <li class="list__item">
                    <a href="./about-blog-item.html" target="_blank">Новость (вложенная)</a>
                </li>
            </ul>
        </li>
        <li class="list__item">
            <a href="./about-portfolio.html" target="_blank">Портфолио</a>
        </li>
        <li class="list__item">
            <a href="./about-career.html" target="_blank">Карьера</a>
            <ul class="list">
                <li class="list__item">
                    <a href="./about-vacancy.html" target="_blank">Вакансия (вложенная)</a>
                </li>
            </ul>
        </li>
        <li class="list__item">
            <a href="./about-contact.html" target="_blank">Контакты</a>
        </li>
        <li class="list__item">
            <a href="./privacy-policy.html" target="_blank">Политика конфиденциальности</a>
        </li>

        
        <li class="list__item">
            <a href="./404.html" target="_blank">404</a>
        </li>
    </ul>

    <h2>Попапы</h2>
    <ul>
        <li class="list__item" data-popup-button="feedback">Форма обратной связи</li>
        <li class="list__item" data-popup-button="thanks">Спасибо</li>
        <li class="list__item" data-popup-button="project">Проект портфолио</li>
    </ul>
    
    <div class="popup" data-popup-target="feedback">
        <div class="popup__wrapper block-wrapper">
            <div class="popup__content">
                <div class="popup__cross-box">
                    <div class="popup__cross" data-popup-close>
                        <img src="./img/svg/icon-popup-cross.svg" alt="">
                    </div>
                </div>
                <h2 class="popup__title">Форма обратной связи</h2>
                <div class="popup__form">
                    <form class="form" action="#" novalidate>
                        <div class="form__input form-input">
                            <input class="form-input__input _required" placeholder="Имя" type="text">
                            <div class="failure">
                                <span class="failure__text">*Required</span>
                            </div>
                        </div>
                        <div class="form__input form-input">
                            <input class="form-input__input _required" placeholder="Фамилия" type="text">
                            <div class="failure">
                                <span class="failure__text">*Required</span>
                            </div>
                        </div>
                        <div class="form__input form-input">
                            <input class="form-input__input _email _required" placeholder="Email" type="mail">
                            <div class="failure">
                                <span class="failure__text">*Required</span>
                            </div>
                        </div>
                        <div class="form__input form-input">
                            <input class="form-input__input _tel _required" placeholder="+ (380) ___ ___ ___" type="tel">
                            <div class="failure">
                                <span class="failure__text">*Required</span>
                            </div>
                        </div>
                        <div class="form__footer">
                            <div class="form__checkbox">
                                <label class="checkbox">
                                    <span class="checkbox__name">Я соглашаюсь с <a href="./privacy-policy.html" target="_blank">правилами обработки данных</a></span>
                                    <input class="checkbox__box _checkbox _required" type="checkbox" checked>
                                    <span class="checkbox__mark"></span>
                                </label>
                            </div>
                            <div class="form__button">
                                <button class="button button--black" type="submit">
                                    <span class="button__name">Отправить</span>
                                    <span class="button__icon">
                                        <img src="./img/svg/icon-button-orange.svg" inline-svg alt="">
                                    </span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <div class="popup popup--thanks" data-popup-target="thanks">
        <div class="popup__wrapper block-wrapper">
            <div class="popup__content">
                <div class="popup__cross-box">
                    <div class="popup__cross" data-popup-close>
                        <img src="./img/svg/icon-popup-cross.svg" alt="">
                    </div>
                </div>
                <div class="popup__logo">
                    <img src="./img/svg/logo.svg" alt="">
                </div>
                <div class="popup__info">
                    <h2 class="popup__title h3-title">Спасибо за вашу заявку!</h2>
                    <div class="popup__description h4-title">
                        <p>Мы свяжемся с вами в ближайшее время.</p>
                    </div>
                    <div class="popup__button">
                        <a href="./index.html" class="button button--black">
                            <span class="button__name">На главную</span>
                            <span class="button__icon">
                                <img src="./img/svg/icon-button-orange.svg" inline-svg alt="">
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="popup popup--project" data-popup-target="project">
        <div class="popup__wrapper block-wrapper">
            <div class="popup__content">
                <div class="popup__cross-box">
                    <div class="popup__cross" data-popup-close>
                        <img src="./img/svg/icon-popup-cross.svg" alt="">
                    </div>
                </div>
                <div class="popup__project">
                    <div class="project">
                        <h2 class="project__title">Жилой комплекс “Львовский”</h2>
                        <div class="project__image">
                            <div class="image image--h100">
                                <img src="./img/photos/popup-project-image-1.png" alt="">
                            </div>
                        </div>
                        <div class="project__info">
                            <h3 class="project__subtitle">Комлектация системы водоснабжения и отопления</h3>
                            <ul class="project__list list">
                                <li class="list__item">Запорная арматура</li>
                                <li class="list__item">Система натяжных фитингов Fado Slice</li>
                                <li class="list__item">Система полипропиленовых фитингов Fado PPR</li>
                            </ul>
                            <div class="project__icon">
                                <img src="./img/svg/popup-project-icon-set.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    <!-- scripts -->
    <link rel="stylesheet" href="./css/style.css">

    <script>
        let messageEmpty = "Обязательное поле",
            messageIncorrect = "Некорректные данные",
            messageIncorrectFile = "Неверный формат файла",
            messageChooseFile = "Добавить CV";
    </script>

    <script defer src="./js/libs/inline_svg.js"></script>
    <script defer src="./js/libs/inputmask.min.js"></script>
    <script defer src="./js/libs/swiper-bundle.min.js"></script>
    <script defer src="./js/libs/gsap.min.js"></script>
    <script defer src="./js/libs/ScrollTrigger.min.js"></script>

    <script defer src="./js/main.js"></script>
</body>
</html>