<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Контакты -  https://dev.brandkit-ai.com/contacts (contacts.php)
    For investment (для инвестиций) - https://dev.brandkit-ai.com/for-investment (for-investment.php)
    For life (для жизни) - https://dev.brandkit-ai.com/for-life/  (for-life.php)
    For partners (Партнерская программа для агентов) - https://dev.brandkit-ai.com/for-partners   (partners.php)
    Отзывы о компании (отзывы) - https://dev.brandkit-ai.com/otzyvy-o-kompanii/  (reviews.php)
    О компании - https://dev.brandkit-ai.com/o-kompanii
    Каталог стран - https://dev.brandkit-ai.com/countries/ (countries.php)
    Каталог по стране - в taxonomy-countries.php
    Наши услуги  - https://dev.brandkit-ai.com/services/ (services.php)
    Услуга - single-services.php

    ======================
    Попапы template-parts/modals
    Секции что делал  "template-parts/section-название_секции"
</body>
</html>